################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IllusionCards/AI/Chara/BaseGameIds

CardManagerCLI/DevSandbox.cs
