/IllusionCards/AI/Chara/BaseGameIds

CardManagerCLI/DevSandbox.cs

# Ignore this project for now
/SideloaderMods

# Rider stuff
/.idea
LibMai.SideloaderMods/

MaiGUI/

CardManagerCLI/

MaiDevSandbox/

IllusionCards/AI/Chara/Friendly/FriendlyNameLookup/AiFriendlyAccessoryLookupReference.cs

puml/
